@import 'element-plus/dist/index.css';
// main.ts
@import 'element-plus/theme-chalk/dark/css-vars.css';
@import './dark/css-vars.css';
//
@import 'element-plus/theme-chalk/display.css';

:root {
    --el-border-radius-base: 2px;
}

.el-message-box {
    --el-messagebox-border-radius: 2px;
}

@media (max-width: 576px) {
    .el-message-box {
        --el-messagebox-width: 95%;
    }
}